  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <% if @range == "ユーザー" %>
        <h2>ユーザー　"<%= @word %>"の検索結果</h2>
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>プロフィール画像</th>
                <th>ニックネーム</th>
                <th>その他</th>
              </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= link_to (attachment_image_tag user, :profile_image, :fill, 75, 75, fallback: "no_image.jpg",size: '75x75'),user_path(user) %></td>
                <td><%= user.name %></td>
                <td>
                  <div>フォロー数: <%= user.followings.count %></div>
                  <div>フォロワー数: <%= user.followers.count %></div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
        <h2>投稿　"<%= @word %>"の検索結果</h2>
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>プロフィール画像</th>
                <th>ニックネーム</th>
                <th>タイトル</th>
                <th>本文</th>
                <th>その他</th>
              </tr>
            </thead>
            <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to (attachment_image_tag post.user, :profile_image, :fill, 75, 75, fallback: "no_image.jpg",size: '75x75'),user_path(post.user) %></td>
                <td><%= post.user.name %></td>
                <td><%= link_to post.title,post_path(post) %></td>
                <td><%= post.title_comment %></td>
                <td>
                  <div class="favorite-btn_<%= post.id %>">いいね件数：<%= render 'favorites/favorite-btn', post: post %></div>
                  <div>コメント件数：<%= post.post_comments.count %></div>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>

