<%= render 'users/profile', user: @user_profile %>
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table">
        <tbody>
          <tr>
            <td>
            <%= link_to (attachment_image_tag @post.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg"),user_path(@user) %>
            <%= link_to @post.user.name,user_path(@user) %>
            </td>
            <td>
            <%= link_to @post.title,post_path(@post) %>
            </td>
            <td>
            <%= @post.title_comment %>
            </td>
            <% if current_user.id == @post.user_id %>
              <td><%= link_to "Edit", {controller: 'posts', action: 'edit'}, {method: :get, class: "mybutton"} %></td>
              <td><%= link_to "Destroy", {controller: 'posts', action: 'destroy'}, {method: :delete,  "data-confirm" => "本当に削除しますか？",class: "mybutton"} %></td>
            <% end %>
            <td>コメント件数：<%= @post.post_comments.count %></td>
            <td class="favorite-btn_<%= @post.id %>">
            <%= render 'favorites/favorite-btn', post: @post %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="comment-index">
        <%= render 'post_comments/comment-index', post: @post  %>
      </div>
      <div>
        <%= form_with model: [@post, @post_comment], remote: true  do |f| %>
        <%= f.text_area :comment %>
        <br><%= f.submit "送信する" %></br>
        <% end %>
      </div>
    </div>
  </div>
</div>
