<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
      <a class="navbar-brand" href="/">
        <span>Bookers</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="fas fa-home nav-link text-light"><%= link_to "Home",current_user %></li>
          <li class="fas fa-users nav-link text-light"><%= link_to "Users",users_path %></li>
          <li class="fas fa-book-open nav-link text-light"><%= link_to "Books",posts_path %></li>
          <li class="fas fa-sign-out-alt nav-link text-light"><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
          <div class="search_form">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
            <%= f.text_field :word %>
            <%= f.select :range, options_for_select([['User'], ['Book']]) %>
            <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backword_match"], ["部分一致","partial_match"]]) %>
            <%= f.submit "検索", class: "btn btn-primary" %>
            <% end %>
          </div>
           <% else %>
          <li class="fas fa-home nav-link text-light"><%= link_to "Home",root_path %></li>
          <li class="fas fa-link nav-link text-light"><%= link_to "about",home_about_path %></li>
          <li class="fas fa-user-plus nav-link text-light"><%= link_to "Sign up",new_user_registration_path %></li>
          <li class="fas fa-sign-in-alt nav-link text-light"><%= link_to "login",new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      </div>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <%= yield %>
    <footer>
      <div class="container mt-5">
  	  <div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </footer>
  </body>
</html>
